---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
	<head>
		<MainHead title="About | Jeanine White" description="About Jeanine White Lorem Ipsum" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About me</h1>
			<div class="bio wrapper">
				<p>My goal is to make software work better for everyone. I have worked on websites and enterprise web applications for over 7 years.</p>
				<p>
					I also have extensive experience managing software projects with Agile methods and facilitating design activities. I have a master's degree
					from Clemson University studying human-computer interaction and I'm originally from Eastern Kentucky.
				</p>
				<p>If you're interested in learning more about my previous work experience, you can check out my resume.</p>
				<!-- Timeline goes here -->
			</div>
		</div>
		<Footer />
	</body>
</html>
