---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob("./projects/**/*.md");
const featuredProject = projects[0];
---

<html lang="en">
	<head>
		<MainHead title="Jarrod Thacker | Software Developer" description="Jarrod Thacker: Software Developer and Designer" />
		<style>

		</style>
	</head>
	<body>
		<Nav />

		<h1 class="title">hi it's me, your favo/urite teammate</h1>

		<main>
			<p>
				Hi - I'm a full-stack web developer with several years of experience building enterprise web applications. I have a design background and love
				making UIs that are accessible and actually feel good to use.
			</p>
			<p>
				I'm currently work as a IT Engineer for the U.S. European Command in England building web apps. I'm also a freelance web developer and designer
				(available/not available).
			</p>
			<p>Desparately trying not to over-engineer this site.</p>

			<h2>Tools</h2>
			<p>I mostly use JavaScript -- I'm also familiar with these tools...</p>
		</main>
		<Footer />
	</body>
</html>
